<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <div th:replace="fragments/head :: headerFragment"></div>
    <meta charset="UTF-8">
    <title>account setting</title>
</head>
<body>
<div id="app">
    <v-app id="inspire">
        <div th:replace="fragments/sidebar :: sidebarFragment"></div>
        <div th:replace="fragments/navbar :: navbarFragment"></div>
        <v-content>
            <v-container>
                <v-layout justify-center>
                    <h2>HIIi</h2>
                </v-layout>
            </v-container>
        </v-content>
    </v-app>
</div>



<script src="/js/mainMenuTemplate.js"></script>
<script src="/js/accountSetting.js"></script>
</body>


</html>
