<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <div th:replace="fragments/head :: headerFragment"></div>
    <title id="pageTitle">Home</title>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-apexcharts"></script>
    <link type="text/css" rel="stylesheet" href="/css/adminMain.css">
</head>
<body>
<div id="app">
    <v-app id="inspire">
        <div th:replace="fragments/sidebar :: sidebarFragment"></div>
        <div th:replace="fragments/navbar :: navbarFragment"></div>
        <v-content>
            <v-container>
                <v-layout justify-center>
                    <admin_dashboard></admin_dashboard>
                </v-layout>
            </v-container>
        </v-content>
    </v-app>
</div>

<script src="/js/mainMenuTemplate.js"></script>
<script src="/js/adminMain.js" type="module"></script>
</body>
</html>