<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:v-slot="http://www.w3.org/1999/XSL/Transform">
<head>
    <div th:replace="fragments/head :: headerFragment"></div>
    <title id="pageTitle">New Reading</title>
	<link type="text/css" rel="stylesheet" href="/css/createNewReading.css">
</head>
<body>
<h2>Add a new reading</h2>
<div id="app">
    <v-app id="inspire">
        <div th:replace="fragments/sidebar :: sidebarFragment"></div>
        <div th:replace="fragments/navbar :: navbarFragment"></div>
        <v-content>
            <v-container align-center>
                <v-layout>
                    <new_reading></new_reading>
                </v-layout>
            </v-container>
        </v-content>
    </v-app>
</div>

<script type="text/javascript" src="/js/mainMenuTemplate.js"></script>
<script type="module" src="/js/createNewReading.js"></script>
</body>
