<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:v-slot="http://www.w3.org/1999/XSL/Transform">
<head>
    <div th:replace="fragments/head :: headerFragment"></div>
    <title id="pageTitle">New Reading</title>

    <link type="text/css" rel="stylesheet" href="/css/createNewReading.css">
</head>
<body>
<div id="app">
    <v-app id="inspire">
        <div th:replace="fragments/sidebar :: sidebarFragment"></div>
        <div th:replace="fragments/navbar :: navbarFragment"></div>
        <v-content>
            <v-container>
                <v-layout justify-center>

                <div class="container">

                    <h2>Add New Reading</h2>
                    <form id="readingInput" @submit.prevent="submit">
                        <p v-if="errors.length">
                            <b>Please correct the following error(s):</b>
                            <ul>
                                <li v-for="error in errors" style="color:#ba0006"> {{ error }}</li>
                            </ul>
                        </p>
                        <input type="text" v-model="patientID" @change="setPatientID" readonly required>
                        <input type="text" v-model="heartRate" placeholder="Heart Rate" required>
                        <input type="text" v-model="systolic" placeholder="Systolic" required>
                        <input type="text" v-model="diastolic" placeholder="Diastolic" required>
                        <br><br>
                        <button type="submit" >Submit</button>
                    </form>
                </div>
                </v-layout>
            </v-container>
        </v-content>
    </v-app>
</div>

<script src="/js/mainMenuTemplate.js"></script>
<script src="/js/createNewReading.js"></script>
</body>