<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <div th:replace="fragments/head :: headerFragment"></div>
    <link type="text/css" rel="stylesheet" href="/css/login.css">
    <title id="pageTitle">Help</title>

</head>
<body>

<div id="app">
    <v-app id="inspire">
        <div th:replace="fragments/sidebar :: sidebarFragment"></div>
        <div th:replace="fragments/navbar :: navbarFragment"></div>

        <v-content>
            <v-container>
                <h2>How to use the CRADLE VSA</h2>
                <v-layout justify-center>
                    <iframe width="550" height="400" src="https://www.youtube.com/embed/TTi3WWamINM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </v-layout>
                <h6>Please visit <a href="https://cradletrial.com/resources/">the cradle main website</a> for more information.</h6>
            </v-container>
        </v-content>
    </v-app>
</div>

<script src="/js/mainMenuTemplate.js"></script>
<script src="/js/help.js"></script>

</body>
</html>


<!--<div>Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/"             title="Flaticon">www.flaticon.com</a></div>-->
