<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <div th:replace="fragments/head :: headerFragment"></div>
    <link type="text/css" rel="stylesheet">
    <title id="pageTitle">help</title>

</head>
<body>

<div id="app">
    <v-app id="inspire">
        <div th:replace="fragments/sidebar :: sidebarFragment"></div>
        <div th:replace="fragments/navbar :: navbarFragment"></div>

        <v-content>
            <v-container>
                <v-layout justify-center>
                    <iframe width="700" height="700" src="https://www.youtube.com/embed/TTi3WWamINM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </v-layout>
            </v-container>
        </v-content>
    </v-app>
</div>

<script src="/js/mainMenuTemplate.js"></script>
<script src="/js/help.js"></script>

</body>
</html>


<!--<div>Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/"             title="Flaticon">www.flaticon.com</a></div>-->
