<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Welcome Page</title>
	<link type="text/css" rel="stylesheet" href="/css/home.css">
</head>
<body>
<h2>Login to your account</h2>
<div th:if="${param.error}">
	<p style="color: red">UserName or PassWord is wrong. Please check again!</p>
</div>
<div th:if="${param.logout}">
	<h1 style="color: blue">Logged out.</h1>
</div>
<div>
	<form id="authInput" th:action="@{/login}" method="post">
		<input type="text" name="username" placeholder="Username">
		<input type="password" name="password" placeholder="Password">
		<div class="container">
			<button type="submit" value="Sign in">Sign In</button>
			<button v-on:click="createAccount"><a>Create Account</a></button>
		</div>
	</form>
</div>
<script src="/static/js/home.js"></script>
</body>


<!--	<div>-->
<!--		<form th:action="@{/login}" method="get">-->
<!--			<input type="submit" value="Login"/>-->
<!--		</form>-->
<!--	</div>-->
<!--	<h1 th:text="${accountName}"></h1>-->
<!--	<div>-->
<!--		<form th:action="@{/logout}" method="post">-->
<!--			<input type="submit" value="Logout"/>-->
<!--		</form>-->
<!--	</div>-->

<!--	<a href="/upload">Upload stuff!</a>-->

<!--	<form th:action="@{/logout}" method="post">-->
<!--		<input type="submit" value="Sign Out"/>-->
<!--	</form>-->
</body>
</html>
