<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Welcome Page</title>
</head>
<body>
<h1>Welcome!</h1>
<a style="color: blue" th:href="@{/admin}">admin Page</a>
<br />
<a style="color: blue" th:href="@{/vht}">vht Page</a>
<br />
<a style="color: blue" th:href="@{/healthworker}">healthworker Page</a>
<div>

	<div>
		<form th:action="@{/login}" method="get">
			<input type="submit" value="Login"/>
		</form>
	</div>
	<h1 th:text="${accountName}"></h1>
	<div>
		<form th:action="@{/logout}" method="post">
			<input type="submit" value="Logout"/>
		</form>
	</div>

	<a href="/upload">Upload stuff!</a>

	<form th:action="@{/logout}" method="post">
		<input type="submit" value="Sign Out"/>
	</form>
</body>
</html>
