<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Welcome Page</title>
	<link type="text/css" rel="stylesheet" href="/home.css">
</head>
<body>
<h2>Welcome!</h2>
<p>Please select your position to login</p>
<di class="positions">
	<button onclick = 'window.location.assign("/admin")'>admin Page</button>
	<button onclick = 'window.location.assign("/vht")'>vht Page</button>
	<button onclick = 'window.location.assign("/healthworker")'>healthworker Page</button>
</di>


<!--	<div>-->
<!--		<form th:action="@{/login}" method="get">-->
<!--			<input type="submit" value="Login"/>-->
<!--		</form>-->
<!--	</div>-->
<!--	<h1 th:text="${accountName}"></h1>-->
<!--	<div>-->
<!--		<form th:action="@{/logout}" method="post">-->
<!--			<input type="submit" value="Logout"/>-->
<!--		</form>-->
<!--	</div>-->

<!--	<a href="/upload">Upload stuff!</a>-->

<!--	<form th:action="@{/logout}" method="post">-->
<!--		<input type="submit" value="Sign Out"/>-->
<!--	</form>-->
</body>
</html>
