<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Welcome</title>
	<link type="text/css" rel="stylesheet" href="/css/login.css">
</head>
<body>

	<div class="wrapper">
		<div class="all-content">
			<div class="login-content">
			<h2>Login to your account</h2>
			<div th:if="${param.error}">
				<p style="color: red">Either your Username or Password is incorrect.<br/>Please check the fields again.</p>
			</div>
			<div th:if="${param.logout}">
				<h1 style="color: blue">You have been logged out.</h1>
			</div>
			<div class="form">
				<form id="authInput" th:action="@{/login}" method="post">
					<input type="text" name="username" placeholder="Username">
					<input type="password" name="password" placeholder="Password">
					<div class="login-btn">
						<button type="submit" value="Sign in">Sign In</button>
					</div>
				</form>
			</div>
		</div>
			<div class="image-content"></div>
		</div>
	</div>

	<login></login>

	<script src="/js/login.js"></script>
</body>
</html>
