<!DOCTYPE html>
<html xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <title>Login</title>
        <script src="https://unpkg.com/vue"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

        <link type="text/css" rel="stylesheet" href="/login.css">
    </head>
        <body>
            <h2>Login to your account</h2>
             <div th:if="${param.error}">
                  Invalid username and password.
            </div>
            <div th:if="${param.logout}">
                You have been logged out.
            </div>
    <div>
        <form id="authInput" th:action="@{/login}" method="post">
             <input type="text" name="username" placeholder="Username">
            <input type="password" name="password" placeholder="Password">
            <div><input type="submit" value="Sign In"/></div>
            <button v-on:click="createAccount"><a>Create Account</a></button>
        </form>
    </div>

    <script src="/login.js"></script>
    </body>
</html>
