<!DOCTYPE html>
<html xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <!-- Add this to <head> -->
    <!-- Load required Bootstrap and BootstrapVue CSS -->
    <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.css" />

    <!-- Load polyfills to support older browsers -->
    <script src="//polyfill.io/v3/polyfill.min.js?features=es2015%2CIntersectionObserver" crossorigin="anonymous"></script>

    <!-- Load Vue followed by BootstrapVue -->
    <script src="//unpkg.com/vue@latest/dist/vue.min.js"></script>
    <script src="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.js"></script>



    <title>Patient Summary</title>
    <script src="https://unpkg.com/vue"></script>
    <link rel="stylesheet" href="/patientSummary.css">

</head>
<body>
    <h2>Patient Information</h2>
    <div class="container">
    <div class="patientInfo">
        <h6>Patient Name:</h6>
        <p class="patientName">Parmis Naddaf <br> </p>
        <h6>ID:</h6>
        <p class="patientId"> 62387608726 <br> </p>
        <h6>Date Of Birth:</h6>
        <p class="DOB"> 09/19/1995 <br> </p>

    </div>
        <h2>Latest Reading</h2>
        <img src="/img/cardiology.png" height="50" width="50" style="margin-bottom: 12px">
        <p id="heart_beat">67</p>
        <span id="statusColor" class="dot"></span>
        <br>
        <h6 style="display:inline-block;">Blood Pressure:</h6>
        <p id="BP" style="display: inline-block">180/20</p>
        <br>
        <h6 style="display:inline-block;">Gestational Age:</h6>
        <p class="GestationalAge">21</p>
        <p> Weeks</p>
        <h2>Symptoms</h2>
        <div class= "info" id="symptoms">Received overcame oh sensible so at an.
            Formed do change merely to county it. Am separate contempt
            domestic to to oh. On relation my so addition branched.</div>
        <h2>Current Medications</h2>
        <ul id="currentMedication">
            <li >item 1 </li>
            <li >item 2</li>
            <li >item 3</li>
            <li >item 4</li>
        </ul>
    </div>

    <div id="patientReadings" class="container">
        <h2>Past Readings</h2>
            <patient_info></patient_info>
    </div>
    <div style="top: 66px; right: 10%;  position: absolute;" class="container">
        <h2>Past Medications</h2>
        <ul v-model="pastMedication" id="pastMedication">
            <li >item 1 </li>
            <li >item 2</li>
            <li >item 3</li>
            <li >item 4</li>
        </ul>
        <h2>Past Symptoms</h2>
        <ul v-model="pastSymptoms" id="pastSymptoms">
            <li >item 1 </li>
            <li >item 2</li>
            <li >item 3</li>
            <li >item 4</li>
        </ul>
        <h2>Medical History</h2>
        <div class="info" id="medicalHistory">Received overcame oh sensible so at an.
            Formed do change merely to county it. Am separate contempt
            domestic to to oh. On relation my so addition branched.</div>

    </div>


    <script src="/patientSummary.js"></script>
</body>
</html>


<!--<div>Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/"             title="Flaticon">www.flaticon.com</a></div>-->
