<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:v-slot="http://www.w3.org/1999/XSL/Transform"
	  xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
	<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Material+Icons" rel="stylesheet">
	<link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
	<link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue-notifications@1.0.2/dist/vue-notifications.min.js"></script>
	<link type="text/css" rel="stylesheet" href="/css/referralMain.css">
</head>
<body>

<div id="app">
	<v-app id="inspire">
		<!--        Navigation drawer = sidebar -->
		<sidebar_template_health ref="sidebar"></sidebar_template_health> <!--Data inside component accessible by $refs.sidebar -->

		<!--       @drawer is a custom event thrown by the component, called when the hamburger button is pressed -->
		<navbar_template @drawer="$refs.sidebar.drawer = !$refs.sidebar.drawer"></navbar_template>

		<!--        V-content is where the main content of the web app lives-->
		<v-content>
				<v-layout justify-center>
					<v-container>
						<v-data-table
								:headers="headers"
								:items="rows"
								:items-per-page="30"
								class="elevation-1">

							<template slot="rows" slot-scope="props">
								<td>{{props.rows.id}}</td>
								<td>{{props.rows.patientId}}</td>
								<td>{{props.rows.vhtId}}</td>
								<td>{{props.rows.healthCentre}}</td>
								<td>{{props.rows.healthCentreNumber}}</td>
							</template>
							<template v-slot:item.view="{ item }">
								<button v-on:click="viewPatientData(item.patientId)" class="btn btn-outline-info">View Patient Data</button>
							</template>
							<template v-slot:item.accept="{ item }">
								<button v-on:click="accept()" class="btn btn-outline-info">Accept</button>
							</template>
							<template slot="rows" slot-scope="props">
								<td>{{props.rows.timestamp}}</td>
								<td>{{props.rows.accepter}}</td>
								<td>{{props.rows.closed}}</td>
							</template>
						</v-data-table>
					</v-container>
				</v-layout>
		</v-content>
	</v-app>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>

<script src="/js/mainMenuTemplate.js"></script>
<script src="/js/referralMain.js" type="module"></script>
</body>
</html>