<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <div th:replace="fragments/head :: headerFragment"></div>
    <title id="pageTitle">Home</title>

</head>
<body>

<div id="app">
    <v-app id="inspire">
        <div th:replace="fragments/sidebar :: sidebarFragment"></div>
        <div th:replace="fragments/navbar :: navbarFragment"></div>

        <v-content>
            <v-container>
                <v-layout justify-center>
                    <v-container>
                        <v-data-table
                                :headers="headers"
                                :items="rows"
                                :items-per-page="5"
                                class="elevation-1">

                            <template slot="rows" slot-scope="props">
                                <td>{{props.row.id}}</td>
                                <td>{{props.row.name}}</td>
                            </template>
                            <template v-slot:item.view="{ item }">
                                <button v-on:click="viewPatientData(item.id)" class="btn btn-outline-info">View Patient Data</button>
                            </template>
                            <template v-slot:item.add="{ item }">
                                <button v-on:click="addNewReading(item.id)" class="btn btn-outline-secondary">Add New Reading</button>
                            </template>
                        </v-data-table>
                    </v-container>
                </v-layout>
            </v-container>
        </v-content>
    </v-app>
</div>

<script src="/js/mainMenuTemplate.js"></script>
<script src="/js/vht.js"></script>

</body>
</html>


<!--<div>Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/"             title="Flaticon">www.flaticon.com</a></div>-->
