<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<body>
<div th:fragment="adminFragment">
    <v-content>
        <v-container>
            <v-layout justify-center>
                <v-row>
                    <v-col cols="12" md="4">
                        <info_card id="info_card" title="76"></info_card>
                    </v-col>
                    <v-col cols="12" md="4">
                        <info_card id="info_card2" title="92"></info_card>
                    </v-col>
                    <v-col cols="12" md="4">
                        <info_card id="info_card3" title="48"></info_card>
                    </v-col>
                </v-row>
            </v-layout>
        </v-container>
    </v-content>
</div>

</body>
</html>