<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" >

<body>
<sidebar_template inline-template ref="sidebar" th:fragment="sidebarFragment">
    <v-navigation-drawer app clipped v-model="drawer" >
        <v-list>
            <sidebar_item title="Home" icon="home" clickable="home"></sidebar_item>
            <div sec:authorize="hasRole('ROLE_ADMIN')">
                <v-subheader class="mt-3 grey--text text--darken-1">Statistical Analysis</v-subheader>
                <sidebar_item title="Readings" icon="assessment" clickable="readings"></sidebar_item>
                <sidebar_item title="Referrals" icon="assignment" clickable="referrals"></sidebar_item>
                <sidebar_item title="VHT Performance" icon="rate_review" clickable="vht-performance"></sidebar_item>
                <v-subheader class="mt-3 grey--text text--darken-1">User Management</v-subheader>
                <sidebar_item title="New Health Center" icon="add_circle" clickable="new-health-center"></sidebar_item>
                <sidebar_item title="New Account" icon="person_add" clickable="new-vht"></sidebar_item>
                <sidebar_item title="Manage Accounts" icon="supervisor_account" clickable="manage-accounts"></sidebar_item>
                <v-subheader class="mt-3 grey--text text--darken-1">Currently signed in as: {{current_user}}</v-subheader>
                <sidebar_item title="Sign Out" icon="account_circle" clickable="logout"></sidebar_item>
            </div>

            <div sec:authorize="hasRole('ROLE_HEALTHWORKER')">
                <v-subheader class="mt-3 grey--text text--darken-1">Patients</v-subheader>
                <sidebar_item title="New Referrals" icon="assignment" clickable="new-referrals"></sidebar_item>
                <sidebar_item title="Past Referrals" icon="assignment" clickable="past-referrals"></sidebar_item>
                <sidebar_item title="All Referrals" icon="assignment" clickable="all-referrals"></sidebar_item>
                <v-subheader class="mt-3 grey--text text--darken-1">Account</v-subheader>
                <sidebar_item title="Account Settings" icon="settings" clickable="account-settings"></sidebar_item>
                <v-subheader class="mt-3 grey--text text--darken-1">Currently signed in as: {{current_user}}</v-subheader>
                <sidebar_item title="Sign Out" icon="account_circle" clickable="logout"></sidebar_item>
            </div>
        </v-list>
    </v-navigation-drawer>
</sidebar_template >
</body>
</html>
