h4 {
    color: #0c9090; /* Green */
    text-align: center;
    padding: 8px;
}

li {
    color: black;
}
.customContainer {
    display: flex;
}

.customDiv {
    padding: 5px;
}

.v-list {
    padding: 12px;
}

.adviceDetailsImg {
    padding-left:2px;
    padding-right:20px;
    padding-bottom:20px;
}

#app {
    overflow: scroll;
}

.white-space-wrap {
    white-space: pre-wrap;
}
