h2 {
    color: #0c9090; /* Green */
    text-align: center;
}

h4 {
    color: #0c9090; /* Green */
    text-align: center;
}

li {
    color: black;
}
.customContainer {
    display: flex;
}

.customDiv {
    padding: 5px;
}

#summaryCardTitle {
    border-bottom: 1px solid black;
}
