:root {
    --background-1: #1b4152; /*Darker blue*/
    --background-2: #1d9799; /*Lighter blue*/
    --accent-primary: #90341d; /*Burgundy*/
}

h2 {
}

body {
    background-image: linear-gradient(-90deg, var(--background-1), var(--accent-primary));
}

.all-content {
    display: flex;

    border: #ccc 1px solid;
    box-shadow: 0px 10px 30px gray;
}

.image-content {
    backdrop-filter: blur(8px);
    background-color: #ffffffaa;
    background-image: url('/img/login-image.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
}

.login-content {
    text-align: center;
    background: white;
    width:400px;
    padding: 10px;

    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
}

.wrapper {
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;

    min-width: 400px;
    max-width: 1000px;
    width: 80%;
}

.form {
    margin-top: 100px;
}

input {
    position: relative;
    padding: 20px;
    width: 240px;

    margin-bottom: 20px;

    border: none;
    text-align: center;

    border-bottom: 2px #ddd solid;
    transition: border-bottom-color 0.15s ease;

    /* box-shadow: 0px 5px 6px grey; */
}

input:active,
input:focus {
    border-bottom-color: var(--accent-primary);
}

button {
    border: none;
    border-radius: 6px;
    padding: 20px;
    width: 240px;
    margin-top: 60px;
    background-color: var(--accent-primary);
    color:
            white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin-bottom: 50px;
    cursor: pointer;
}

.all-content {
    display: flex;
}