:root {
    --background-1: #045459; /*Darker blue*/
    --background-2: #08736f; /*Lighter blue*/
    --accent-primary: #1ebdb7; /*Burgundy*/
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
    color: var(--background-2);
}

p {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 18px;
}

body {
    background-image: linear-gradient(-45deg, var(--background-1), var(--accent-primary));
}

.all-content {
    display: flex;

    border: #ccc 1px solid;
    box-shadow: 0px 10px 30px gray;
}

.image-content {
    background-image: url('/img/login-image.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
}

.login-content {
    text-align: center;
    background: white;
    width:400px;
    padding: 10px;

    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
}

.wrapper {
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;

    min-width: 400px;
    max-width: 1000px;
    width: 80%;
}

.form {
    margin-top: 80px;
}

input {
    position: relative;
    padding: 20px;
    width: 240px;

    margin-bottom: 20px;

    border: none;
    text-align: center;

    border-bottom: 2px #ddd solid;
    transition: border-bottom-color 0.15s ease;

    font-size: 24px;
}

input:active,
input:focus {
    border-bottom-color: var(--accent-primary);
}

button {
    border: none;
    border-radius: 6px;
    padding: 20px;
    width: 240px;
    margin-top: 60px;
    background-color: var(--accent-primary);
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin-bottom: 50px;
    cursor: pointer;

    opacity: 0.7;
    transition: 0.2s;
}

button:hover {
    opacity: 1.0;
}

.all-content {
    display: flex;
}