h3 {
    color: #0c9090; /* Green */
    text-align: left;
}
#heart_beat{
    color: black;
    display: inline;
    padding: 7px 7px;

}

.dot {
    height: 25px;
    width: 25px;
    background-color: #07b839;
    border-radius: 50%;
    display: inline-block;
    margin-top: 10px;
}

#header {
    position: relative;
}

#header-content { /*Used to push patient details to the bottom of their respective columns */
    position: absolute;
    bottom: 12px;
    left: 15px;
}