h3 {
    color: #0c9090; /* Green */
    text-align: center;
    margin-top: 20px;
}
#heart_beat{
    color: black;
    display: inline;
    padding: 7px 7px;

}

.dot {
    height: 25px;
    width: 25px;
    background-color: #07b839;
    border-radius: 50%;
    display: inline-block;
    margin-top: 10px;
}


.bg-light {
    background-color: #0b908f!important; /* NavBar background */
}

.nav-link:hover {
    color: #c7c7c7 !important; /*Overrides bootstrap changes nav-bar links text hover colour */
}


.row{
    margin-left: 7%;
}
