h3 {
    color: #0c9090; /* Green */
    text-align: left;
}
#heart_beat{
    color: black;
    display: inline;
    padding: 7px 7px;

}

#header {
    position: relative;
}

#header-content { /*Used to push patient details to the bottom of their respective columns */
    position: absolute;
    bottom: 12px;
    left: 15px;
}

/*ul li::before {*/
/*    content: "\2022";*/
/*    color: #0c9090; !* Green *!*/
/*    font-weight: bold;*/
/*    display: inline-block;*/
/*    width: 1em;*/
/*    margin-left: -1em;*/
/*}*/


/*ul {*/
/*    list-style: none;*/
/*    counter-reset: my-awesome-counter;*/
/*}*/
/*li {*/
/*    counter-increment: my-awesome-counter;*/
/*    margin: 0.25rem;*/
/*}*/

ul {
    list-style: none;
}

ul {
    list-style: none;
}
li {
    margin: 0.25rem;
}
li::before {
    content: "";
    background: #0b6c6d;
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    display: inline-block;
    margin-right: 0.5rem;
}
ul ul li::before {
    background: #0cabab;
}
ul ul ul li::before {
    background: #0dcdcd;
}
