
.bg-light {
    background-color: #0b908f!important; /* NavBar background */
}

.nav-link:hover {
    color: #c7c7c7 !important; /*Overrides bootstrap changes nav-bar links text hover colour */
}

.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */
{
    opacity: 0;
}

.custom-btn-referral-action {
    min-width: 90px;
}

.custom-btn-margin {
    margin: 2px;
}

.custom-btn-referral-action[disabled='disabled'] {
    color: #6a6a6a;
    border-color: #6a6a6a;
    background-color: rgba(128,128,128,0.1);
}
