<!DOCTYPE html>
<html xmlns:v-on="http://www.w3.org/1999/xhtml">
	<head>
		<title>Login</title>
		<script src="https://unpkg.com/vue"></script>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	</head>
	<body>
		<h2>Login to your account</h2>
		<form id="authInput">
			<input type="text" v-model="username" placeholder="username">
			<br>
			<input type="password" v-model="password" placeholder="password">
			<br>
			<button v-on:click="submitInput">Sign In</button>
			<button v-on:click="createAccount"><a href="newAccount.html">Create Account</a></button>
		</form>

		<script src="js/login.js"></script>
	</body>
</html>
