<!DOCTYPE html>
<html xmlns:v-on="http://www.w3.org/1999/xhtml">
	<head>
		<!-- Boot strap style sheets and CDN -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>

		<title>Register Health Clinic</title>
		<script src="https://unpkg.com/vue"></script>
		<link rel="stylesheet" href="css/login.css"> 

	</head> 
	<body>
		<div class="container">
			<h2>Register New Health Clinic</h2>
			<form id="newClinic">
				<input type="text" v-model="clinicName" placeholder="Clinic Name">
				<br>
				<input type="text" v-model="clinicLocation" placeholder="Location">
				<br>
				<input type="text" v-model="clinicPhoneNum" placeholder="Phone Number">
				<br>
				<button v-on:click="submitClinic">Create Clinic</button>
			</form>

			<script src="js/newClinic.js"></script>
		</div>
	</body>
</html>
